git+https://github.com/boro-alpha/nf_common.git
git+https://github.com/boro-alpha/nf_ea_common_tools.git
git+https://github.com/boro-alpha/ea_interop_service.git
pandas
numpy
uuid
pyodbc
Xlrd
django
msaccessdb
pywin32
kafka-python
jsonpickle
networkx
tqdm
setuptools
matplotlib
psutil
xlsxwriter
tables
